.col.s12
  .card.z-depth-2
    .card-content
      %span.card-title
        = duration_with_location_to_s(expert_session)
      %p
        = expert_session.description
      %ul.collection.attendances
        = render expert_session.attendances
    .card-action
      = link_to 'edit', edit_expert_session_path(expert_session, redirect_location: request.path)
