%li.collection-item.avatar
  %i.material-icons.circle today
  .title= expert_session.summary
  %p
    = duration_to_s(expert_session)
    %br
    = expert_session.description

  .secondary-content
    - if can?(:edit, expert_session)
      .fixed-action-btn.horizontal
        = link_to edit_expert_session_path(expert_session, redirect_location: request.path), class: "btn-floating btn-medium green" do
          %i.material-icons mode_edit
