.row
  .field.col.s12.m6
    .label=t_attr(:family_name, HasVcards::Vcard)
    .value=vcard.family_name
  .field.col.s12.m6
    .label=t_attr(:given_name, HasVcards::Vcard)
    .value=vcard.given_name
  .field.col.s12.m6
    .label=t_attr(:extended_address, HasVcards::Vcard)
    .value=vcard.extended_address
  .field.col.s12.m6
    .label=t_attr(:street_address, HasVcards::Vcard)
    .value=vcard.street_address
  .field.col.s4.m2
    .label=t_attr(:postal_code, HasVcards::Vcard)
    .value=vcard.postal_code
  .field.col.s8.m4
    .label=t_attr(:locality, HasVcards::Vcard)
    .value=vcard.locality
  .field.col.s12.m6
    .label=t_attr(:post_office_box, HasVcards::Vcard)
    .value=vcard.post_office_box

