%ul.collection.collapsible
  - collection.each do |user|
    %li
      .collapsible-header
        .collection-item.avatar
          .title= user
          %p
            = user.profile_type
          .secondary-content
            - if can?(:edit, user) && 'users' == controller_name
              .fixed-action-btn.horizontal
                = link_to edit_user_path(user), class: "btn-floating btn-large green" do
                  %i.large.material-icons mode_edit
