- if resource.user.nil? && can?(:create, User)
  .section_divider
  .section
    %h4= resource.user ? t_model(User) : 'No credentials assigned yet'
    %div(style="position: relative")
      .fixed-action-btn.horizontal(style="position: absolute")
        = link_to new_user_path(user: {profile_id: resource.id, profile_type: resource.class}, redirect_location: request.path), class: "btn-floating btn-large blue" do
          %i.large.material-icons add
- if resource.user
  .section_divider
  .section
    %h4= t_model(User)
    = render 'list', collection: [ resource.user ], resource_class: User
