%li.collection-item.avatar
  %i.material-icons.circle today
  .title= mentoring.summary
  %p
    = duration_with_location_to_s(mentoring)
    %br
    = mentoring.description

  .secondary-content
    - if can?(:edit, mentoring)
      .fixed-action-btn.horizontal
        = link_to edit_mentoring_path(mentoring, redirect_location: request.path), class: "btn-floating btn-medium green" do
          %i.material-icons mode_edit
