= simple_form_for resource, wrapper: :full do |f|
  .card.z-depth-1
    .card-content
      = render 'form_base', f: f

    .card-action
      = f.button :submit

  .section
    = render 'attendances_form'
