= simple_form_for resource do |f|

  .section

    = render 'form_base', f: f

    .row
      .col.s12= f.button :submit

  .divider(style='margin: 20px 0 40px;')
  .section

    = render 'attendances_form'
