.index{class: resource_class&.name&.tableize}
  - if resource_class.respond_to?(:by_text)
    = render 'list_search'

  .list
    = guarded_paginate collection
    .row
      = render collection
    = guarded_paginate collection
