@import "materialize";
@import "font-awesome";
@import "material-icons";
@import "materialize-adaptions";
@import "events";
@import "rating";

body.events {
  @extend .yellow, .lighten-5;
}

.contextual {
  float: right;
}

.input-field.has_error {
  p.error-block {
    font-size: 0.8rem;
    color: #F44336;
    margin-top: 0;
  }
}

// construct for read-only display of values analogou to forms
.field {

  .label {
    font-size: 0.8rem;
    color: #9e9e9e;
  }

  .value {
    min-height: 2.2rem;
  }
}

.parallax-container {
  height: 250px;
}

.toast {
  p {
    margin: 0
  }

  i {
    margin-right: 1rem;
    &.alert-danger {
      @extend .red-text
    }
    &.alert-info {
      @extend .light-green-text
    }
  }
}
