// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "materialize";
@import "font-awesome";
@import "materialize-adaptions";

.contextual {
  float: right;
}

.input-field.has_error {
  p.error-block {
    font-size: 0.8rem;
    color: #F44336;
    margin-top: 0;
  }
}

// construct for read-only display of values analogou to forms
.field {

  .label {
    font-size: 0.8rem;
    color: #9e9e9e;
  }

  .value {
    min-height: 2.2rem;
  }
}


