@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v6/ksD1WDDgZAyMd1VY75GZ6evvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  src: local('damion'),
       font-url('damion.woff2') format('woff2'),
       font-url('damion.woff') format('woff'),
       font-url('damion.ttf') format('truetype');
}


body.events.action-timeline {

  .container {
    width: 100%;
    max-width: 100%;
  }

  nav.nav-wrapper {
    background-color: #f59871 !important;
  }

  #events {
    margin-bottom: 40rem;

    .row {
      width: 70%;
      margin-left: 15%;

      @media #{$large-and-up} {
        width: 60%;
        margin-left: 20%;
      }
      @media #{$medium-and-down} {
        width: 80%;
        margin-left: 10%;
      }
      @media #{$small-and-down} {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .fixed-month {
    position: fixed;
    top: 81px;
    left: 5%;
  }

  .day.left {
    clear: both;

    a {
      background-color: #ffa38a;
      font-size: 175%;
    }

    &.past a {
      background-color: lightgrey;
    }

    &.future a {
      background-color: $color-2;
    }
  }

  .month {
    &.past h4 {
      color: lightgrey;
    }
    &.future h4 {
      color: $color-2;
    }
  }


  .fixed-day {
    position: fixed;
    top: 146px;
    left: 5%;
  }

  .parallax-container {
    height: 180px;
    margin-bottom: 2rem;

    .parallax {
      background: linear-gradient(135deg, $color-4, $color-1);
      font-family: 'Damion';
      font-size: 130px;
      color: #ffeedd;
      text-align: left;
      padding-left: 27%;
      @media #{$medium-and-down} {
        padding-left: 23%;
      }
      @media #{$small-and-down} {
        padding-left: 10%;
      }
    }
  }

  .card {
    border: 2px solid $color-1;

    p.datetime {
      span {
        display: inline-block;
        width: 80px;
      }
    }

    .card-action {
      color: $color-dark !important;

      .avatars {
        position: absolute;
        right: 5px;
        top: 5px;

        img {
          width: 42px;
          height: 42px;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.6);
          border-style: solid;
          border-width: 3px;
        }
      }
    }
  }

  .card.color-1 {
    border-color: $color-1;

    .card-action {
      background-color: $color-1;

      a {
        color: darken($color-1, 20%) !important;
      }
    }
  }


  .card.color-2 {
    border-color: $color-2;

    .card-action {
      background-color: $color-2;

      a {
        color: darken($color-2, 20%) !important;
      }
    }
  }

  .card.color-3 {
    border-color: $color-3;

    .card-action {
      background-color: $color-3;

      a {
        color: darken($color-3, 20%) !important;
      }
    }
  }

  .card.color-4 {
    border-color: $color-4;

    .card-action {
      background-color: $color-4;

      a {
        color: darken($color-4, 20%) !important;
      }
    }
  }

}

