$color-1: #ffdf8c;
$color-2: #ffbf8c;
$color-3: #ffa48c;
$color-4: #ff8c8c;

@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v6/ksD1WDDgZAyMd1VY75GZ6evvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  src: local('damion'),
       font-url('damion.woff2') format('woff2'),
       font-url('damion.woff') format('woff'),
       font-url('damion.ttf') format('truetype');
}


body.events.timeline {

  nav.nav-wrapper {
    background-color: #f59871 !important;
  }

  #events {

  }

  .fixed-month {
    position: fixed;
    top: 79px;
    left: 5%;
  }

  .day.left {
    clear: both;

    a {
      background-color: #ffa38a;
      font-size: 175%;
      box-shadow: none;
    }
  }

  .month {
    h4 {
      color: #d4846f;
    }
  }

  .fixed-day {
    position: fixed;
    top: 150px;
    left: 5%;
  }

  .parallax-container {
    height: 150px;
    margin-bottom: 25px;

    .parallax {
      background: linear-gradient(135deg, $color-4, $color-1);
      font-family: 'Damion';
      font-size: 100px;
      color: #ffeedd;
      padding-right: 30px;
      text-align: right;
    }
  }

  .card {
    border: 2px solid #ffdf8c;
    box-shadow: none;

    p.datetime {
      span {
        display: inline-block;
        width: 80px;
      }
    }

    .card-action {
      color: #d4846f !important;

      .avatars {
        position: absolute;
        right: 5px;
        top: 5px;

        img {
          width: 42px;
          height: 42px;
          position: absolute;
          background-color: #d4846f;
        }
      }
    }
  }

  .card.color-1 {
    border-color: $color-1;

    .card-action {
      background-color: $color-1;

      a {
        color: darken($color-1, 20%) !important;
      }

      .avatars img {
        background-color: darken($color-1, 20%);
      }
    }
  }


  .card.color-2 {
    border-color: $color-2;

    .card-action {
      background-color: $color-2;

      a {
        color: darken($color-2, 20%) !important;
      }

      .avatars img {
        background-color: darken($color-2, 20%);
      }
    }
  }

  .card.color-3 {
    border-color: $color-3;

    .card-action {
      background-color: $color-3;

      a {
        color: darken($color-3, 20%) !important;
      }
      .avatars img {
        background-color: darken($color-3, 20%);
      }
    }
  }

  .card.color-4 {
    border-color: $color-4;

    .card-action {
      background-color: $color-4;

      a {
        color: darken($color-4, 20%) !important;
      }

      .avatars img {
        background-color: darken($color-4, 20%);
      }
    }
  }

}

