%p
  Hello #{@resource.profile}!

%p
  You've been invited to join the Kickstart Accelerator Expert Session App.

%p
  The first step is to choose a nice, strong password. Please also ensure your Profile information is nice and proper. After that you should add your Expert Session Slots and wait for requests from our Startups:-)

%p
  = link_to 'Sign in', edit_password_url(@resource, reset_password_token: @token)
