- unless resource.new_record?
  - reflection = resource_class.reflect_on_association(association)
  - klass = reflection.klass
  - through = reflection.options[:through].to_s
  - through_route = through.singularize

  .header
    %h4= t_model klass
    %div(style="position: relative")
      .fixed-action-btn.horizontal(style="position: absolute")
        = link_to polymorphic_url([:new, resource, through_route]), remote: true, class: "btn-floating btn-large blue" do
          %i.large.material-icons add

  = render 'list', collection: resource.send(association), resource_class: klass
