= form_tag params, method: :get do
  .row
    .input-field.col.s10
      = text_field '', :by_text, value: params[:by_text], autocomplete: 'off'
      %label= t_action(:search)
    .col.s2
      = button_tag type: 'submit', class: "btn" do
        %i.material-icons search
