= form_tag params, method: :get do
  .row
    .input-field.col.s12
      %i.material-icons.prefix search
      = text_field '', :by_text, value: params[:by_text], autocomplete: 'off'
      %label(for="_by_text")= t_action(:search)
      = button_tag 'search', type: 'submit', class: 'hide'
