.modal-content
  = render 'form'

.modal-footer
  %a.modal-action.modal-close.waves-effect.waves-green.btn-flat(ref="#!")= t_action(:cancel)
  %a.modal-action.waves-effect.waves-green.btn-flat.modal-submit(ref="#!")= t_action(:save)
