.header
  %h2= t_model(resource_class)
  %div(style="position: relative")
    .fixed-action-btn.horizontal(style="position: absolute")
      = link_to url_for(resource_class), class: "btn-floating btn-large yellow darken-1" do
        %i.large.material-icons view_list

= render 'form'
